button(ng-click="getRoutes()", ng-hide="routes") Add Stop

select.route(ng-model="selectedRoute", ng-show="routes", ng-change="getDirections()", ng-options="r.Description for r in routes")
		option(value="") Select route...

select.direction(ng-model="selectedDirection", ng-show="directions", ng-change="getStops()", ng-options="d.Text for d in directions")
	option(value="") Select direction...

select.stop(ng-model="selectedStop", ng-show="stops", ng-options="s.Text for s in stops", ng-change="setHotStop()")
	option(value="") Select stop...

div(ng-show="selectedRoute && selectedDirection && selectedStop")
	button(ng-click="saveHotStop()") Save Stop

div(class="stoplist", ng-show="HotStops", ng-controller="HotStopCtrl")
	accordion(class="HotStops", close-others=true)
		accordion-group(ng-repeat="s in HotStops", heading="{{s.route.Description }} | {{s.direction.Text}} | {{s.stop.Text}}", ng-click="showDepartures( $index, s )")
			ol( ng-show="s.departures", ng-hide="s.collapse", class="dep_list", ng-click="toggleDepartures( $index )")
				li( ng-repeat="d in s.departures", ng-class="{actual : d.Actual}" ) {{d.DepartureText}}
