div(id="login")
	div.modal_header
		h2 Log In
	div.modal_body
		div.alert.alert-danger(ng-show="notice"){{notice}}
		form(name="login")
			label(for="username") Username
			input(type="text", ng-model="$parent.username", name="username")
			label(for="password") Password
			input(type="password", ng-model="$parent.password", name="password")
	div.modal_footer
			button(class="btn btn-primary", ng-click="authenticate()") Login
