extends layout

block body
  div
    h2 BusBoard
    ul.menu
      li
        a(href='login', ng-hide="authenticated") Login
        a(href='logout', ng-show="authenticated") Logout
      li
        a(href='mystops') My Stops
      li
        a(href='register') Register

    div(class="stoplist", ng-show="HotStops", ng-controller="hotStopCtrl")
        ul.HotStops
            li(ng-repeat="s in HotStops") {{s.route.Description }} | {{s.direction.Text}} | {{s.stop.Text}}
                button(class="delete", ng-click="removeHotStop(s)") [x]
    flash:messages
    div(ng-view)


  script(src='js/lib/angular/angular.js')
  script(src='js/angular-flash.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/app.js')
