!!!
html(ng-app="myApp")
	head
		meta(charset='utf8')
		meta(name="viewport", content="width=device-width", initial-scale="1")
		base(href='/')
		title BusBoard
		link(rel='stylesheet', href='/bootstrap-3.1.1-dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css')
		style(type="text/css") .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
	body
		block body
